{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Best Location{% endblock %}
{% block page_content %}

<div class="page-header">
    <h1>Successful Businesses this City</h1>
</div>
<div class="row">
<div class="col-md-6">
 <h2> Are Located At: </h2>
    <ul>
        <li>Area 1</li>
        <li>Area 2</li>
        <li>Area 3</li>
    </ul>
</div>


<div class="col-md-6">
<h2> Have the following Amenities:</h2>
    <ul>
        <li>Amenity 1</li>
        <li>Amenity 2</li>
        <li>Amenity 3</li>
    </ul>
</div>
    </div>
<div class="col-md-12">
<h2> Other information</h2>
    <ul>
        <li>Amenity 1</li>
        <li>Amenity 2</li>
        <li>Amenity 3</li>
    </ul>
</div>
{% endblock %}
