{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Best Location{% endblock %}

{% block head %}
{{ super() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type=text/javascript>
    $(function() {
      $('a#calculate').bind('click', function() {
        $.getJSON('/__handle_prediciton', {
          a: $('input[name="a"]').val(),
          b: $('input[name="b"]').val()
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
      });
    });
  </script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, Stranger!</h1>
</div>
<div>
</div>
<div class="col-md-3">
    {{ wtf.quick_form(form)}}
</div>

<div class="col-md-9">
    <h2>Best Locations:</h2>
 <div id="map">

    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
     <script type="text/javascript">
         // Load city coordinates:
//        var coords = '{"Cities":' +
//                '[{"las": [36.1662859, -115.149225]}, {"phoe": [33.4467681, -112.0756724]},' +
//                ' {"char": [35.2270869, -80.8431268]}, {"pitt": [40.4416941, -79.9900861]},' +
//                ' {"mont": [45.5115944, -73.6051013]}, {"scot": [33.5091215, -111.8992365]},' +
//                ' {"edin": [55.9483544, -3.1931187]}, {"mesa": [33.436188, -111.586066076293]},' +
//                ' {"mont": [45.5115944, -73.6051013]}, {"temp": [33.4144139, -111.9094473]}]}';

          var coords = [{"city": "las", "coords": [36.1662859, -115.149225]}, {"city": "phoe", "coords": [33.4467681, -112.0756724]},
                 {"city": "char", "coords": [35.2270869, -80.8431268]}, {"city": "pitt", "coords": [40.4416941, -79.9900861]},
                 {"city": "mont", "coords": [45.5115944, -73.6051013]}, {"city": "scot", "coords": [33.5091215, -111.8992365]},
                 {"city": "edin", "coords": [55.9483544, -3.1931187]}, {"city": "mesa", "coords": [33.436188, -111.586066076293]},
                 {"city": "mont", "coords": [45.5115944, -73.6051013]}, {"city": "temp", "coords": [33.4144139, -111.9094473]}];

//         var coords_obj = JSON.parse(coords);

         var map = L.map('map').setView([36.1215, -115.1739], 11);

                 L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

//        L.marker([51.5, -0.09]).addTo(map)
//            .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
//            .openPopup();

         map.on('click', function(e) {
            console.log(e.latlng);
            });

    // Getting map navigation to work properl
    document.getElementById('city').onclick = function(e) {
        var pos = e.target.getAttribute('data-position');
        var zoom = e.target.getAttribute('data-zoom');
        if (pos && zoom) {
            var loc = pos.split(',');
            var z = parseInt(zoom);
            map.setView(loc, z, {animation: true});
            return false;
    }
}
     </script>
</div>
     <p>Where Green is best and Red is worst</p>
</div>


{% if pagination %}
<div class="pagination">
</div>
{% endif %}
{% endblock %}


{% block scripts %}
{{ super() }}


{% endblock %}
