{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Best Location{% endblock %}

{% block head %}
{{ super() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type=text/javascript>
    $(function() {
      $('a#calculate').bind('click', function() {
        $.getJSON('/__handle_prediciton', {
          a: $('input[name="a"]').val(),
          b: $('input[name="b"]').val()
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
      });
    });
  </script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Restaurant Locator</h1>
</div>
<div>
</div>
<div class="col-md-3">
    {{ wtf.quick_form(form)}}
</div>

<div class="col-md-9">
    <h2>Select a location below:</h2>
 <div id="map">

    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
     <script type="text/javascript">


         var map = L.map('map').setView([36.1215, -115.1739], 11);

                 L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
         }).addTo(map);


         $('#city').change(function(e){
            e.preventDefault();
            console.log(e)
            var city = e.currentTarget[e.currentTarget.selectedIndex].value;
            var city = JSON.parse(city);
            map.panTo(city, 6);
             });

     </script>
</div>
     <p>Where Green is best and Red is worst</p>
</div>


{% if pagination %}
<div class="pagination">
</div>
{% endif %}
{% endblock %}


{% block scripts %}
{{ super() }}


{% endblock %}
